@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100..900&display=swap');
@import url('https://db.onlinewebfonts.com/c/4d6681df325afc094d09fb15e59aed2f?family=ATC+Krueger+Regular');
@import "tailwindcss";

@theme {
  --color-dc-dark: #101524;
  --color-dc-red: #a40239;
  --color-dc-gold: #f9cf87;
  --color-dc-gold-light: #f9e6c6;
  --color-dc-gold-dark: rgba(249, 207, 135, 0.2);
  --color-dc-grey: #888a92;
  --color-dc-card: rgba(0, 0, 0, 0.2);
  --color-dc-header: rgba(16, 21, 36, 0.9);
  --font-title: "ATC Krueger Regular";
  --font-body: "Raleway", sans-serif;
  --font-heading: "ATC Krueger Regular";
}

body {
    @apply text-dc-gold bg-dc-dark font-body;
}

h2 {
    @apply font-heading font-bold text-6xl;
}

h3 {
    @apply font-body text-2xl;
}

a {
    @apply text-dc-gold;
    text-decoration: none;
    transition: color 0.2s;
}

a:hover {
    @apply text-dc-gold-light;
}

strong {
    @apply text-dc-red;
}

/* Custom utility classes */
.bg-dc-footer { background: linear-gradient(to bottom, rgba(0,0,0,0.8), rgba(0,0,0,0.5) 12px); }
.shadow-dc { box-shadow: 0px 0px 16px rgba(0, 0, 0, 0.9); }
.banner-dc {
    @apply text-dc-gold-light;
    background: linear-gradient(to bottom, #d1394e 50%, #cd2f46 50%);
    border-bottom: 8px solid #832154;
}
.btn-dc {
    @apply text-white hover:text-dc-gold-light font-extrabold transition-colors duration-200 flex items-center gap-2 px-4 py-2;
    background: linear-gradient(to bottom, #d1394e 50%, #cd2f46 50%);
    border-bottom: 8px solid #832154;
}

/* Custom form controls */
.radio-dc {
    @apply w-4 h-4 cursor-pointer accent-dc-red;
}

.checkbox-dc {
    @apply w-4 h-4 cursor-pointer accent-dc-red;
}